@model IEnumerable<IQVIAchallengeWebApp1.Models.Tweet>

@{
    ViewBag.Title = "TweetsAsync";
}

<h2>Tweets Async with HttpClient</h2>

<p>
    Total Tweets Returned = @Model.Count()
</p>
<p>
    Start Date = @ViewBag.StartDate </br>
    End Date = @ViewBag.EndDate
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>            
        </tr>
    }

</table>
